div-body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(135deg, #0091ff, #06273e);
      font-family: 'Poppins', sans-serif;
    }

    .heading-design {
      font-size: 4rem;
      font-weight: 700;
      color: transparent; /* make fill invisible */
      -webkit-text-stroke: 2px white; /* outline color + thickness */
      text-transform: uppercase;
    }

    .subheading-design {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      margin-bottom: 1rem;
    }
  